body{
    width: 80%;
    margin: 0 auto;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "my-header my-header my-header"
    "paginas paginas presentacion"
    "paginas paginas presentacion"
    "paginas paginas experiencia"
    "paginas paginas experiencia"
    "my-footer my-footer my-footer"
    ;
    
  }
  nav{
    grid-area: my-nav;
    border: 1px solid white;  margin: 1em; width: 98%; background-color: rgba(0,0,0,0.7);}
   
  nav ul{
    list-style: none;
    overflow: hidden;
  }
  nav ul li{
    
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: whitesmoke;
    margin: 10px;
    
    
    
    
  }
  nav ul li a{
    display: block;
    padding: 10px;
    text-align: center;
    list-style: none;
    color: whitesmoke;
    overflow: hidden;
    text-decoration: none;
    

  }
  nav ul li:hover{
    background-color: #eca023;
    cursor: pointer;
    

    
  }
  
  header{
    grid-area: my-header;
    border: 1px solid white;
    margin: 0;
    background: red;
   
  }
  .navegacion{
    float:left;
  }
  #presentacion{
    grid-area: presentacion;
    color: teal;
  }
  #experiencia{
    grid-area: experiencia;
    color: blueviolet;
  }

  footer{ 
    grid-area: my-footer;
    border: 1px solid white; margin: 0.5em; float: left; position: fixed; bottom: 0; width: 80%; background-color: rgba(0,0,0,0.7);}
  footer ul{ list-style: none; overflow: hidden;
  }
  footer ul li{
    
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: whitesmoke;
    margin: 10px;
    text-align: center;
    
  }

  footer ul li a{
   
    padding: 10px;
    text-align: center;
    

  }
  footer ul li:hover{
    background-color: #eca023;
    cursor: pointer;
    

    
  }
  main{

    grid-area: paginas;
  }
  section{
      background-color: lightblue;
      border: 1px solid white;
  }
 
  body{
    color: white;
  }
  
  
  